html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
  display: flex;
  justify-content: center;
}

.usersList {
    text-align: left;
    margin-bottom: 40px; 
}

.usersList th {
    border-bottom: 1px solid grey;
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px 10px;
}

.usersList td {
    font-size: 16px;
    padding: 5px 10px;
}

.usersList tbody tr:hover td {
    background-color: #ccc; 
}

.form {
    text-align: left;
    padding: 50px 0;
}

.form__row {
    margin-bottom: 20px;
}

.form__label {
    display: block;
    margin-bottom: 10px;
    color: #686868;
}

.form__submit, .btn {
    width: auto;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 40px;
    color: white;
    background-color: #7777d8;
    border: none;
    outline: none;    
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
}